{% extends 'content_base.html.twig' %}

{% block title %}Manage Comments{% endblock %}

{# show-article-container-border-green je trebalo umjeto ovog border-top border-success #}
{% block content_class %}{{ parent() }} border-top border-success{% endblock %}

{% block content_body %}
    <div class="row">
        <div class="col-sm-12">
            <h1>Manage Comments</h1>
        </div>
    </div>
{% endblock %}
